* {
  font-family: 'Roboto', sans-serif;
}

.chart-container {
  position: relative;
  width: 80vw;
  height: 80vh;
}

.content {
  padding: 10vh 10vw;
  width: 100%;
}

input, label, select {
  margin-left: 2px;
  margin-right: 2px;
}

.form-group {
  margin-right: 1em;
}
